<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<div class="js-rooms-table" data-rooms="<%= @rooms.map{ |room| {id: room.id, name: room.name, path: room_path(room)} }.to_json %>"></div>
<%= javascript_pack_tag 'rooms' %>

<br>

<%= link_to 'New Room', new_room_path %>
