<section>
  <div class="el-row">
    <div class="el-col">
      <h2>Create New Room</h2>
      <br/>
      <div id="js-room-form" data-action-path="<%= rooms_path %>"></div>
      <%= javascript_pack_tag 'rooms' %>
    </div>
  </div>
</section>
