.el-header {
  line-height: 60px;
  background-color: #2E2F30;
  color: #DADADA;

  &__title {
    font-size: 20px;
  }
}

.el-footer {
  background-color: #2E2F30;
  color: #909399;

  &__title {
    text-align: center;
  }
}
